<mat-sidenav-container>
  <div class="container">
    <mat-card class="card">
      <mat-form-field appearance="fill">
        <mat-label>Имя пользователя</mat-label>
        <input matInput />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Электронная почта</mat-label>
        <input matInput />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Пароль</mat-label>
        <input matInput />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Повторите пароль</mat-label>
        <input matInput />
      </mat-form-field>
      <button mat-flat-button color="primary">Регистрация</button>
    </mat-card>
  </div>
</mat-sidenav-container>
