<form [formGroup]="roleFormGroup" class="box">
  <mat-form-field appearance="fill">
    <mat-label>Название</mat-label>
    <input matInput formControlName="value" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Описание</mat-label>
    <textarea matInput formControlName="description"></textarea>
  </mat-form-field>
  <div class="button-row">
    <button type="submit" mat-flat-button color="primary" (click)="addTag()">
      Создать</button
    ><button mat-flat-button color="warn" (click)="cancelAdd()">Отмена</button>
  </div>
</form>
