<div id="home" class="container">
  <div class="box">
    <mat-grid-list
      [cols]="width < 1140 ? (width > 720 ? 2 : 1) : 3"
      rowHeight="300px"
    >
      <div *ngFor="let workout of workouts">
        <mat-grid-tile>
          <mat-card class="card">
            <mat-card-header>
              <mat-card-title>
                {{ workout.name }}
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <iframe
                width="560"
                height="315"
                [src]="workout.videoSrc | safe"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen
              ></iframe>
            </mat-card-content>
            <mat-card-actions align="end">
              <button
                class="button"
                mat-button
                (click)="deleteWorkout(workout.id)"
              >
                <mat-icon>star</mat-icon>
              </button>
            </mat-card-actions>
          </mat-card>
        </mat-grid-tile>
      </div>
    </mat-grid-list>
  </div>
</div>
