.button-container {
  margin-bottom: 15px;

  .button {
    margin-right: 10px;
  }
}

.column {
  &__checkbox {
    max-width: 50px;
    min-width: 50px;
    width: 50px;
    padding: 0 10px;
  }

  &__edit {
    max-width: 75px;
    min-width: 75px;
    width: 75px;
    padding: 0 0 0 15px;
  }

  &__id {
    max-width: 70px;
    min-width: 70px;
    width: 70px;
    padding: 0 0 0 30px;
  }
}

.row {
  height: 65px;
}
