<mat-sidenav-container>
  <div class="container">
    <form [formGroup]="loginForm">
      <mat-card class="card">
        <mat-form-field appearance="fill">
          <mat-label>Электронная почта</mat-label>
          <input matInput formControlName="email" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Пароль</mat-label>
          <input matInput formControlName="password" />
        </mat-form-field>
        <button mat-flat-button color="primary" (click)="login()">Вход</button>
      </mat-card>
    </form>
  </div>
</mat-sidenav-container>
